{% extends "base.html" %}

{% block title %}Pay Order{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Pay Order #{{ order.id }}</h2>
    
    <p><strong>User Email:</strong> {{ user_email }}</p>  <!-- Display user's email -->

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <p><strong>Total Amount:</strong> Pkr{{ order.total_amount|floatformat:2 }}</p>

        <button type="submit" class="btn btn-success">Submit Payment</button>
    </form>
</div>
{% endblock %}
